<div class="cont">
  <div class="form sign-in">
    <h2>Hello friend!</h2>
    <hr class="hrclass" align="center">
    <div class="social-media">
      <ul>
        <li><img src="../assets/facebook.png"></li>
        <li><img src="../assets/google.png"></li>
      </ul>
    </div>
    <label>
      <span>Email Address</span>
      <input type="email" name="email">
    </label>
    <label>
      <span>Password</span>
      <input type="password" name="password">
    </label>
    <button class="submit" type="button">Sign In</button>
    <p class="forgot-pass">Forgot Password ?</p>


  </div>

  <div class="sub-cont">
    <div class="img iconshapes">
      <div class="img-text m-up">
        <img src="../assets/logo-white.svg">
        <br>
        <br>
        <h1>Don't have an account </h1>

        <img src="../assets/Rectangle.png" alt="shape">
        <br>
        <br>
        <h4>Fill in some basic info so that we get to know you</h4>
      </div>
      <div class="img-text m-in">
        <img src="../assets/logo-white.svg">
        <br>
        <br>
        <br>
        <br>
        <h1>Already have an account?</h1>
        <img src="../assets/Rectangle.png" alt="shape">
        <br>
        <br>
        <p>welcome back! We've missed you</p>
      </div>
      <div class="img-btn">
        <span class="m-up">Sign Up</span>
        <span class="m-in">Sign In</span>
      </div>
      <div class="align-shapes">
        <img src="../assets/Left Group 13.png" alt="Shape">
        <img src="../assets/Circle.png" alt="Shape">
        <img src="../assets/Oval Copy 2.png" alt="Shape">
        <img src="../assets/Oval Copy 7.png" alt="Shape">
        <img src="../assets/Left Oval Copy 6.png" alt="Shape">
        <img src="../assets/Left tablate.png" alt="Shape">
        <img src="../assets/Oval Copy.png" alt="Shape">
      </div>
    </div>
    <div class="form sign-up">
      <h2>Sign Up</h2>
      <label>
        <span>Your Name</span>
        <input type="text">
      </label>
      <label>
        <span>Email</span>
        <input type="email">
      </label>
      <label>
        <span>Password</span>
        <input type="password">
      </label>
      <button class="submit" type="button">Sign In</button>
    </div>
  </div>
</div>